@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply focus:outline-none; 
}

p > a {
  text-decoration: underline;
}

.md a {
  text-decoration: underline;
}

.md p, ul {
  padding-top: 0.5rem;
}

.md h3 {
  padding-top: 1.5rem;
  font-size: medium;
  font-weight: 500;
}

.md ul {
  padding-left: 1.5rem;
}

.md ul li {
  margin-left: 0.25rem;
  list-style-type: disc;
}

.md hr {
  border: none;
  padding-top: 1rem;
}

.direction-rtl {
  direction: rtl;
}